<h1 class="heading-large">
  <%= t(".heading", reg_identifier: @transient_registration.reg_identifier) %>
</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <% if @transient_registration.renewal_application_submitted? %>
      <div class="panel">
        <h2 class="heading-medium">
          <%= t(".status.headings.submitted") %>
        </h2>
        <% if @transient_registration.pending_payment? && @transient_registration.pending_manual_conviction_check? %>
          <p>
            <%= t(".status.messages.pending_payment_and_convictions_check") %>
          </p>
          <%= link_to t(".status.actions.payment_button"), "#", class: 'button' %>
          <%= link_to t(".status.actions.convictions_check_button"), "#", class: 'button' %>
        <% elsif @transient_registration.pending_payment? %>
          <p>
            <%= t(".status.messages.pending_payment") %>
          </p>
          <%= link_to t(".status.actions.payment_button"), "#", class: 'button' %>
        <% elsif @transient_registration.pending_manual_conviction_check? %>
          <p>
            <%= t(".status.messages.pending_convictions_check") %>
          </p>
          <%= link_to t(".status.actions.convictions_check_button"), "#", class: 'button' %>
        <% end %>
      </div>
    <% else %>
      <div class="panel">
        <h2 class="heading-medium">
          <%= t(".status.headings.in_progress") %>
        </h2>
        <p>
          <%= t(".status.messages.in_progress") %> "<%= display_current_workflow_state %>".
        </p>

        <%= link_to t(".status.actions.continue_button"), WasteCarriersEngine::Engine.routes.url_helpers.new_renewal_start_form_path(@transient_registration.reg_identifier), class: 'button' %>
      </div>
    <% end %>
    <table>
      <caption class="heading-medium">
        <%= t(".reg_information.heading") %>
      </caption>
      <tbody>
        <tr>
          <td>
            <%= t(".reg_information.labels.account_email") %>
          </td>
          <td>
            <%= @transient_registration.account_email %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t(".reg_information.labels.reg_identifier") %>
          </td>
          <td>
            <%= @transient_registration.reg_identifier %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t(".reg_information.labels.tier") %>
          </td>
          <td>
            <%= show_translation_or_filler(:tier) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t(".reg_information.labels.registration_type") %>
          </td>
          <td>
            <%= show_translation_or_filler(:registration_type) %>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption class="heading-medium">
        <%= t(".business_information.heading") %>
      </caption>
      <tbody>
        <tr>
          <td>
            <%= t(".business_information.labels.company_name") %>
          </td>
          <td>
            <%= @transient_registration.company_name %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t(".business_information.labels.business_type") %>
          </td>
          <td>
            <%= show_translation_or_filler(:business_type) %>
          </td>
        </tr>
        <% if @transient_registration.company_no.present? %>
        <tr>
          <td>
            <%= t(".business_information.labels.company_no") %>
          </td>
          <td>
            <%= @transient_registration.company_no %>
          </td>
        </tr>
        <% end %>
        <% if @transient_registration.location.present? %>
        <tr>
          <td>
            <%= t(".business_information.labels.location") %>
          </td>
          <td>
            <%= show_translation_or_filler(:location) %>
          </td>
        </tr>
        <% end %>
        <% if @transient_registration.registered_address.present? %>
        <tr>
          <td>
            <%= t(".business_information.labels.registered_address") %>
          </td>
          <td>
            <ul>
            <% display_registered_address.each do |line| %>
              <li><%= line %></li>
            <% end %>
            </ul>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <table>
      <caption class="heading-medium">
        <%= t(".contact_information.heading") %>
      </caption>
      <tbody>
        <tr>
          <td>
            <%= t(".contact_information.labels.contact_name") %>
          </td>
          <td>
            <%= @transient_registration.first_name %> <%= @transient_registration.last_name %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t(".contact_information.labels.phone_number") %>
          </td>
          <td>
            <%= @transient_registration.phone_number %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t(".contact_information.labels.contact_email") %>
          </td>
          <td>
            <%= @transient_registration.contact_email %>
          </td>
        </tr>
        <% if @transient_registration.contact_address.present? %>
        <tr>
          <td>
            <%= t(".contact_information.labels.contact_address") %>
          </td>
          <td>
            <ul>
            <% display_contact_address.each do |line| %>
              <li><%= line %></li>
            <% end %>
            </ul>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <% if @transient_registration.main_people.present? || @transient_registration.relevant_people.present? %>
      <h2 class="heading-medium"><%= t(".people_heading") %></h2>
    <% end %>

    <% if @transient_registration.main_people.present? %>
      <% @transient_registration.main_people.each do |person| %>
      <table>
        <caption class="heading-small">
          <%= t(".person_information.heading.#{@transient_registration.business_type}") %>
        </caption>
        <tbody>
          <tr>
            <td>
              <%= t(".person_information.labels.name") %>
            </td>
            <td>
              <%= person.first_name %> <%= person.last_name %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".person_information.labels.dob") %>
            </td>
            <td>
              <%= person.dob.to_date %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".person_information.labels.conviction_search_result") %>
            </td>
            <td>
              <% if person.conviction_search_result.present? %>
                <%= person.conviction_search_result.match_result.titleize %>
              <% else %>
                <%= t(".attributes.key_person.conviction_search_result.pending") %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
    <% end %>

    <% if @transient_registration.relevant_people.present? %>
      <% @transient_registration.relevant_people.each do |person| %>
      <table>
        <caption class="heading-small">
          <%= t(".person_information.heading.relevant") %>
        </caption>
        <tbody>
          <tr>
            <td>
              <%= t(".person_information.labels.name") %>
            </td>
            <td>
              <%= person.first_name %> <%= person.last_name %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".person_information.labels.position") %>
            </td>
            <td>
              <%= person.position %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".person_information.labels.dob") %>
            </td>
            <td>
              <%= person.dob.to_date %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".person_information.labels.conviction_search_result") %>
            </td>
            <td>
              <% if person.conviction_search_result.present? %>
                <%= person.conviction_search_result.match_result.titleize %>
              <% else %>
                <%= t(".attributes.key_person.conviction_search_result.pending") %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
    <% end %>

    <h2 class="heading-medium"><%= t(".conviction_heading") %></h2>
    <div class="panel">
    <% if @transient_registration.conviction_search_result.present? %>
      <%= t(".conviction_information.conviction_search_text.#{@transient_registration.conviction_check_required?}") %>
    <% else %>
      <%= t(".conviction_information.conviction_search_text.unknown") %>
    <% end %>
    </div>

    <% if @transient_registration.declared_convictions.present? || @transient_registration.conviction_search_result.present? %>
    <table>
      <caption class="heading-small">
        <%= t(".conviction_information.heading") %>
      </caption>
      <tbody>
        <% if @transient_registration.declared_convictions.present? %>
        <tr>
          <td>
            <%= t(".conviction_information.labels.declared_convictions") %>
          </td>
          <td>
            <%= @transient_registration.declared_convictions.titleize %>
          </td>
        </tr>
        <% end %>
        <% if @transient_registration.conviction_search_result.present? %>
        <tr>
          <td>
            <%= t(".conviction_information.labels.business_conviction_search_result") %>
          </td>
          <td>
            <%= @transient_registration.conviction_search_result.match_result.titleize %>
          </td>
        </tr>
        <% end %>
        <% if key_people_with_conviction_search_results? %>
        <tr>
          <td>
            <%= t(".conviction_information.labels.people_conviction_search_result") %>
          </td>
          <td>
            <%= t(".attributes.key_people.number_of_people_with_matching_convictions", count: number_of_people_with_matching_convictions) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>

    <h2 class="heading-medium"><%= t(".finance_information.heading") %></h2>

    <div class="panel">
    <% if @transient_registration.finance_details.present? && @transient_registration.finance_details.balance.present? %>
      <% if @transient_registration.finance_details.balance.zero? %>
        <%= t(".finance_information.balance.zero") %>
      <% elsif @transient_registration.finance_details.balance.positive? %>
        <%= t(".finance_information.balance.positive", balance: display_pence_as_pounds(@transient_registration.finance_details.balance)) %>
      <% elsif @transient_registration.finance_details.balance.negative? %>
        <%= t(".finance_information.balance.negative", balance: display_pence_as_pounds(@transient_registration.finance_details.balance)) %>
      <% end %>
    <% else %>
      <%= t(".finance_information.balance.unknown") %>
    <% end %>
    </div>

    <% if @transient_registration.finance_details.present? && @transient_registration.finance_details.orders.present? %>
      <% @transient_registration.finance_details.orders.each do |order| %>
      <table>
        <caption class="heading-small">
          <%= t(".order_information.heading") %>
        </caption>
        <tbody>
          <tr>
            <td>
              <%= t(".order_information.labels.items") %>
            </td>
            <td>
              <ul>
              <% order.order_items.each do |item| %>
                <li><%= item.description %> (£<%= display_pence_as_pounds(item.amount) %>)</li>
              <% end %>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".order_information.labels.total_amount") %>
            </td>
            <td>
              £<%= display_pence_as_pounds(order.total_amount) %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".order_information.labels.order_code") %>
            </td>
            <td>
              <%= order.order_code %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".order_information.labels.payment_method") %>
            </td>
            <td>
              <%= order.payment_method %>
            </td>
          </tr>
          <% if order.world_pay_status.present? %>
          <tr>
            <td>
              <%= t(".order_information.labels.world_pay_status") %>
            </td>
            <td>
              <%= order.world_pay_status %>
            </td>
          </tr>
          <% end %>
          <tr>
            <td>
              <%= t(".order_information.labels.date_last_updated") %>
            </td>
            <td>
              <%= order.date_last_updated.strftime("%A %e %B %Y at %l:%M%P") %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".order_information.labels.updated_by_user") %>
            </td>
            <td>
              <%= order.updated_by_user %>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
    <% end %>

    <% if @transient_registration.finance_details.present? && @transient_registration.finance_details.payments.present? %>
      <% @transient_registration.finance_details.payments.each do |payment| %>
      <table>
        <caption class="heading-small">
          <%= t(".payment_information.heading") %>
        </caption>
        <tbody>
          <tr>
            <td>
              <%= t(".payment_information.labels.amount") %>
            </td>
            <td>
              £<%= display_pence_as_pounds(payment.amount) %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".payment_information.labels.payment_type") %>
            </td>
            <td>
              <%= payment.payment_type %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".payment_information.labels.registration_reference") %>
            </td>
            <td>
              <%= payment.registration_reference %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".payment_information.labels.comment") %>
            </td>
            <td>
              <%= payment.comment %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".payment_information.labels.date_received") %>
            </td>
            <td>
              <%= payment.date_received %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".payment_information.labels.date_entered") %>
            </td>
            <td>
              <%= payment.date_entered %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".payment_information.labels.updated_by_user") %>
            </td>
            <td>
              <%= payment.updated_by_user %>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
    <% end %>

    <% if @transient_registration.temp_cards.present? %>
    <table>
      <caption class="heading-small">
        <%= t(".card_information.heading") %>
      </caption>
      <tbody>
        <tr>
          <td>
            <%= t(".card_information.labels.temp_cards") %>
          </td>
          <td>
            <%= @transient_registration.temp_cards %>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>

    <table>
      <caption class="heading-medium">
        <%= t(".renewal_information.heading") %>
      </caption>
      <tbody>
        <tr>
          <td>
            <%= t(".renewal_information.labels.workflow_state") %>
          </td>
          <td>
            <%= display_current_workflow_state %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t(".renewal_information.labels.declaration") %>
          </td>
          <td>
            <%= show_translation_or_filler(:declaration) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
