<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("waste_carriers_engine/shared/back", back_path: transient_registration_convictions_path(@transient_registration.reg_identifier)) %>

    <%= form_for(@conviction_rejection_form, url: transient_registration_conviction_rejection_forms_path) do |f| %>
      <%= render("waste_carriers_engine/shared/errors", object: @conviction_rejection_form) %>

      <h1 class="govuk-heading-l">
        <%= t(".heading", reg_identifier: @transient_registration.reg_identifier) %>
      </h1>

      <div class="govuk-form-group <%= "govuk-form-group--error" if @conviction_rejection_form.errors[:revoked_reason].any? %>">
        <fieldset id="company_name" class="govuk-fieldset">
          <legend class="govuk-visually-hidden">
            <%= t(".heading", reg_identifier: @transient_registration.reg_identifier) %>
          </legend>

          <% if @conviction_rejection_form.errors[:revoked_reason].any? %>
          <span class="govuk-error-message"><%= @conviction_rejection_form.errors[:revoked_reason].join(", ") %></span>
          <% end %>

          <%= f.label :revoked_reason, class: "govuk-label" do %>
            <%= t(".revoked_reason.label") %>

            <span class="govuk-hint">
              <%= t(".revoked_reason.hint") %>
            </span>
          <% end %>

          <%= f.text_area :revoked_reason, rows: 10, class: "govuk-textarea govuk-!-width-two-thirds" %>
        </fieldset>
      </div>

       <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive"><%= t(".warning") %></span>
          <%= t(".rejection_message") %>
        </strong>
      </div>

      <div class="govuk-form-group">
        <%= f.submit t(".reject_button"), class: "govuk-button" %>
      </div>
    <% end %>
  </div>
</div>
