<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render("waste_carriers_engine/shared/back", back_path: new_registration_registration_transfer_path(@registration.reg_identifier)) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <%= t(".heading", reg_identifier: @registration.reg_identifier) %>
    </h1>

    <div class="govuk-form-group">
      <p class="govuk-body"><%= t(".paragraph1", email: @registration.account_email) %></p>
      <% if newly_invited_account?(@registration.account_email) %>
        <p class="govuk-body"><%= t(".new_user.paragraph2") %></p>
        <p class="govuk-body"><%= t(".new_user.paragraph3") %></p>
        <p class="govuk-body"><%= t(".new_user.paragraph4") %></p>
        <p class="govuk-body"><%= t(".new_user.paragraph5") %></p>
      <% else %>
        <p class="govuk-body"><%= t(".existing_user.paragraph2") %></p>
      <% end %>
    </div>

    <div class="govuk-form-group">
      <%= link_to t(".button"), registration_path(@registration.reg_identifier), class: "govuk-button" %>
    </div>
  </div>
</div>
