<div class="grid-row">
  <div class="column-full">
    <%= render("waste_carriers_engine/shared/back", back_path: bo_path) %>

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">
          <%= t(".heading", reg_identifier: @transient_registration.reg_identifier) %>
        </h1>

        <% if @transient_registration.rejected_conviction_checks? %>
          <div class="panel">
            <h2 class="heading-medium">
              <%= t(".status.headings.rejected") %>
            </h2>
            <p>
              <%= t(".status.messages.rejected") %>
            </p>
          </div>
        <% elsif @transient_registration.renewal_application_submitted? %>
          <% if @transient_registration.pending_manual_conviction_check? %>
            <div class="panel">
              <h2 class="heading-medium">
                <%= t(".status.headings.pending_convictions") %>
              </h2>
              <p>
                <%= t(".status.messages.pending_convictions_check") %>
              </p>
            </div>
          <% end %>

          <% if @transient_registration.pending_payment? %>
            <div class="panel">
              <h2 class="heading-medium">
                <%= t(".status.headings.pending_payment") %>
              </h2>
              <p>
                <%= t(".status.messages.pending_payment", total: display_pence_as_pounds(@transient_registration.finance_details.balance)) %>
              </p>
              <%= link_to t(".status.actions.payment_button"), transient_registration_payments_path(@transient_registration.reg_identifier), class: 'button' %>
            </div>
          <% end %>
        <% else %>
          <div class="panel">
            <h2 class="heading-medium">
              <%= t(".status.headings.in_progress") %>
            </h2>

            <% if @transient_registration.workflow_state == "worldpay_form" %>
              <p>
                <%= t(".status.messages.worldpay.paragraph_1") %>
              </p>

              <% if can? :revert_to_payment_summary, @transient_registration %>
                <p>
                  <%= t(".status.messages.worldpay.paragraph_2.revert") %>
                </p>
                <%= link_to t(".status.actions.revert_to_payment_summary_button"), new_transient_registration_worldpay_escape_path(@transient_registration.reg_identifier), class: 'button' %>
              <% elsif can? :record_worldpay_missed_payment, @transient_registration %>
                <p>
                  <%= t(".status.messages.worldpay.paragraph_2.missed_payment") %>
                </p>
                <%= link_to t(".status.actions.missed_worldpay_payment_button"), new_transient_registration_worldpay_missed_payment_form_path(@transient_registration.reg_identifier), class: 'button' %>
              <% end %>
            <% else %>
              <p>
                <%= @transient_registration.display_current_workflow_state %>
              </p>
              <% if can? :renew, @transient_registration %>
                <%= link_to t(".status.actions.continue_button"), WasteCarriersEngine::Engine.routes.url_helpers.new_renewal_start_form_path(@transient_registration.reg_identifier), class: 'button' %>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <div class="panel wcr-panel wcr-panel-border-all">
          <h2 class="heading-medium">
            <%= @transient_registration.company_name %>
          </h2>
          <p class="lede">
            <%= t(".tier.#{@transient_registration.tier.downcase}") %>
            <% if @transient_registration.registration_type.present? %>
              - <%= I18n.t(".renewing_registrations.show.attributes.registration_type.#{@transient_registration.registration_type}") %>
            <% end %>
          </p>
          <p>
            <%= t(".labels.expires", formatted_date: @transient_registration.display_expiry_date) %>
            <br>
            <%= t(".labels.account", email: @transient_registration.account_email) %>
          </p>
        </div>
        <div class="grid-row">
          <div class="column-one-half wcr-side-info-box">
            <h2 class="heading-medium">
              <%= t(".contact_information.heading") %>
            </h2>
            <p>
              <%= @transient_registration.first_name %> <%= @transient_registration.last_name %>
            </p>
            <p>
              <%= @transient_registration.phone_number %>
            </p>
            <p class="wcr-truncate-ellipsis">
              <a href="mailto:<%= @transient_registration.contact_email %>" target="_top">
                <%= @transient_registration.contact_email %>
              </a>
            </p>
            <p>
              <% if @transient_registration.contact_address.present? %>
                <% displayable_address(@transient_registration.contact_address).each do |line| %>
                  <%= line %><br>
                <% end %>
              <% end %>
            </p>
          </div>
          <div class="column-one-half wcr-side-info-box">
            <h2 class="heading-medium">
              <%= t(".business_information.heading") %>
            </h2>
            <p>
              <%= @transient_registration.company_name %>
            </p>
            <% if @transient_registration.company_no.present? %>
              <p>
                <%= t(".business_information.labels.company_no", number: @transient_registration.company_no) %>
              </p>
            <% end %>

            <% if @transient_registration.registered_address.present? %>
              <p>
                <%= t(".business_information.labels.registered_address") %> <br>
                <% displayable_address(@transient_registration.registered_address).each do |line| %>
                  <%= line %><br>
                <% end %>
              </p>
            <% end %>
            <p>
              <%= @transient_registration.displayable_location %>
            </p>
          </div>
        </div>
        <hr/>
        <h2 class="heading-medium"><%= t(".conviction_heading") %></h2>
        <div>
          <% if @transient_registration.conviction_check_approved? %>
            <p>
              <%= t(".conviction_search_text.approved") %>
            </p>
          <% elsif @transient_registration.rejected_conviction_checks? %>
            <p>
              <%= t(".conviction_search_text.rejected") %>
            </p>
          <% elsif @transient_registration.conviction_search_result.present? %>
            <p>
              <%= t(".conviction_search_text.#{@transient_registration.conviction_check_required?}") %>
            </p>
          <% else %>
            <p>
              <%= t(".conviction_search_text.unknown") %>
            </p>
          <% end %>
        </div>

        <hr>

        <h2 class="heading-medium">
          <% if @transient_registration.unpaid_balance? %>
            <%= t(".finance_information.heading_with_amount_owed", amount: display_pence_as_pounds(@transient_registration.finance_details.balance)) %>
          <% elsif @transient_registration.finance_details.blank? %>
            <%= t(".finance_information.balance.no_data") %>
          <% else %>
            <%= t(".finance_information.heading") %>
          <% end %>
        </h2>

        <% if @transient_registration.finance_details %>
          <p>
            <%= link_to t(".finance_information.section_link_label"), payment_link_for(@transient_registration) %>
          </p>
        <% end %>

        <% if @transient_registration.finance_details&.orders&.any? %>
          <% order = @transient_registration.finance_details.orders.first %>
          <table>
            <tbody>
              <tr>
                <th>
                  <%= t(".order_information.labels.payment_method") %>
                </th>
                <td>
                  <%= order.payment_method.titleize %>
                </td>
              </tr>
              <% order.order_items.each do |item| %>
                <tr>
                  <th>
                    <%= item.description %>
                  </th>
                  <td>
                    £<%= display_pence_as_pounds(item.amount) %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <th>
                  <strong class="bold-small">
                    <%= t(".order_information.labels.total_amount") %>
                  </strong>
                </th>
                <td>
                  <strong class="bold-small">
                    £<%= display_pence_as_pounds(order.total_amount) %>
                  </strong>
                </td>
              </tr>
              <tr>
                <th>
                  <strong class="bold-small">
                    <%= t(".order_information.labels.paid") %>
                  </strong>
                </th>
                <td>
                  <strong class="bold-small">
                    £<%= display_pence_as_pounds(@transient_registration.amount_paid) %>
                  </strong>
                </td>
              </tr>
              <tr>
                <th>
                  <%= t(".order_information.labels.order_code") %>
                </th>
                <td>
                  <%= order.order_code %>
                </td>
              </tr>
            </tbody>
          </table>
        <% end %>


        <% if @transient_registration.main_people.any? %>
          <h2 class="heading-medium">
            <%= t(".person_information.heading.#{@transient_registration.business_type}") %>
          </h2>

          <table>
            <tbody>
              <tr>
                <th>
                  <%= t(".person_information.name") %>
                </th>
                <th>
                  <%= t(".person_information.dob") %>
                </th>
                <th>
                  <%= t(".person_information.convictions") %>
                </th>
              </tr>
              <% @transient_registration.main_people.each do |person| %>
                <tr>
                  <td>
                    <%= person.first_name %> <%= person.last_name %>
                  </td>
                  <td>
                    <%= person.dob.to_date %>
                  </td>
                  <td>
                    <% if person.conviction_check_required? %>
                      <div class="bold-small">
                        <%= t(".person_information.has_convictions.#{person.conviction_search_result.match_result}") %>
                      </div>
                    <% else %>
                      <%= t(".person_information.has_convictions.no") %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
      <div class="column-one-third">
        <div class="wcr-actions wcr-actions--push-down">
          <h2 class="heading-medium">
            <%= t(".actions_box.heading", reg_identifier: @transient_registration.reg_identifier) %>
          </h2>
          <ul>
            <% if @transient_registration.pending_payment? %>
              <li>
                <%= link_to t(".actions_box.links.payment"), transient_registration_payments_path(@transient_registration.reg_identifier) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
