<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render("waste_carriers_engine/shared/back", back_path: bo_path) %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          <%= t(".heading", reg_identifier: @transient_registration.reg_identifier) %>
        </h1>

        <% if @transient_registration.rejected_conviction_checks? %>
          <%= render "shared/registrations/rejected_conviction_checks_details", resource: @transient_registration %>
        <% elsif @transient_registration.renewal_application_submitted? %>
          <% if @transient_registration.pending_manual_conviction_check? %>
            <%= render "shared/registrations/pending_convictions_panel", resource: @transient_registration %>
          <% end %>

          <% if @transient_registration.pending_payment? %>
            <%= render "shared/registrations/pending_payment_panel", resource: @transient_registration %>
          <% end %>
        <% else %>
          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">
              <%= t(".status.headings.in_progress") %>
            </h2>

            <% if @transient_registration.workflow_state == "worldpay_form" %>
              <p class="govuk-body">
                <%= t(".status.messages.worldpay.paragraph_1") %>
              </p>

              <% if can? :revert_to_payment_summary, @transient_registration %>
                <p class="govuk-body">
                  <%= t(".status.messages.worldpay.paragraph_2.revert") %>
                </p>
                <%= link_to t(".status.actions.revert_to_payment_summary_button"), new_resource_worldpay_escape_path(@transient_registration._id), class: 'button' %>
              <% elsif can? :record_worldpay_missed_payment, @transient_registration %>
                <p class="govuk-body">
                  <%= t(".status.messages.worldpay.paragraph_2.missed_payment") %>
                </p>
                <%= link_to t(".status.actions.missed_worldpay_payment_button"), new_resource_worldpay_missed_payment_form_path(@transient_registration._id), class: 'button' %>
              <% end %>
            <% else %>
              <p class="govuk-body">
                <%= @transient_registration.display_current_workflow_state %>
              </p>
              <% if can? :renew, @transient_registration %>
                <%= link_to t(".status.actions.continue_button"), resume_link_for(@transient_registration), class: 'govuk-button' %>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <% if @transient_registration.show_ceased_revoked_panel? %>
          <%= render "shared/registrations/ceased_revoked_panel", resource: @transient_registration %>
        <% end %>

        <%= render "shared/registrations/company_details_panel", resource: @transient_registration %>

        <%= render "shared/registrations/contact_and_business_details_panels", resource: @transient_registration %>

        <hr/>

        <h2 class="govuk-heading-m"><%= t(".conviction_heading") %></h2>
        <p class="govuk-body">
          <%= @transient_registration.display_convictions_check_message %>
        </p>

        <hr>

        <%= render "shared/registrations/finance_details", resource: @transient_registration %>

        <% if @transient_registration.main_people.any? %>
          <%= render "shared/registrations/main_people_details", resource: @transient_registration %>
        <% end %>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render "shared/registrations/action_links_panel", resource: @transient_registration %>
      </div>
    </div>
  </div>
</div>
