<div class="grid-row">
  <div class="column-full">
    <%= render("waste_carriers_engine/shared/back", back_path: bo_path) %>

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">
          <%= t(".heading", reg_identifier: @transient_registration.reg_identifier) %>
        </h1>

        <% if @transient_registration.rejected_conviction_checks? %>
          <%= render "shared/registrations/rejected_conviction_checks_details", resource: @transient_registration %>
        <% elsif @transient_registration.renewal_application_submitted? %>
          <% if @transient_registration.pending_manual_conviction_check? %>
            <div class="panel">
              <h2 class="heading-medium">
                <%= t(".status.headings.pending_convictions") %>
              </h2>
              <p>
                <%= t(".status.messages.pending_convictions_check") %>
              </p>
            </div>
          <% end %>

          <% if @transient_registration.pending_payment? %>
            <div class="panel">
              <h2 class="heading-medium">
                <%= t(".status.headings.pending_payment") %>
              </h2>
              <p>
                <%= t(".status.messages.pending_payment", total: display_pence_as_pounds(@transient_registration.finance_details.balance)) %>
              </p>
              <%= link_to t(".status.actions.payment_button"), transient_registration_payments_path(@transient_registration.reg_identifier), class: 'button' %>
            </div>
          <% end %>
        <% else %>
          <div class="panel">
            <h2 class="heading-medium">
              <%= t(".status.headings.in_progress") %>
            </h2>

            <% if @transient_registration.workflow_state == "worldpay_form" %>
              <p>
                <%= t(".status.messages.worldpay.paragraph_1") %>
              </p>

              <% if can? :revert_to_payment_summary, @transient_registration %>
                <p>
                  <%= t(".status.messages.worldpay.paragraph_2.revert") %>
                </p>
                <%= link_to t(".status.actions.revert_to_payment_summary_button"), new_transient_registration_worldpay_escape_path(@transient_registration.reg_identifier), class: 'button' %>
              <% elsif can? :record_worldpay_missed_payment, @transient_registration %>
                <p>
                  <%= t(".status.messages.worldpay.paragraph_2.missed_payment") %>
                </p>
                <%= link_to t(".status.actions.missed_worldpay_payment_button"), new_transient_registration_worldpay_missed_payment_form_path(@transient_registration.reg_identifier), class: 'button' %>
              <% end %>
            <% else %>
              <p>
                <%= @transient_registration.display_current_workflow_state %>
              </p>
              <% if can? :renew, @transient_registration %>
                <%= link_to t(".status.actions.continue_button"), WasteCarriersEngine::Engine.routes.url_helpers.new_renewal_start_form_path(@transient_registration.reg_identifier), class: 'button' %>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <% if @transient_registration.show_ceased_revoked_panel? %>
          <%= render "shared/registrations/ceased_revoked_panel", resource: @transient_registration %>
        <% end %>

        <% if @transient_registration.expired? %>
          <%= render "shared/registrations/expired_panel", resource: @transient_registration %>
        <% end %>

        <%= render "shared/registrations/company_details_panel", resource: @transient_registration %>

        <%= render "shared/registrations/contact_and_business_details_panels", resource: @transient_registration %>

        <hr/>

        <h2 class="heading-medium"><%= t(".conviction_heading") %></h2>
        <div>
          <p>
            <%= @transient_registration.display_convictions_check_message %>
          </p>
        </div>

        <hr>

        <%= render "shared/registrations/finance_details", resource: @transient_registration %>

        <% if @transient_registration.main_people.any? %>
          <h2 class="heading-medium">
            <%= t(".person_information.heading.#{@transient_registration.business_type}") %>
          </h2>

          <table>
            <tbody>
              <tr>
                <th>
                  <%= t(".person_information.name") %>
                </th>
                <th>
                  <%= t(".person_information.dob") %>
                </th>
                <th>
                  <%= t(".person_information.convictions") %>
                </th>
              </tr>
              <% @transient_registration.main_people.each do |person| %>
                <tr>
                  <td>
                    <%= person.first_name %> <%= person.last_name %>
                  </td>
                  <td>
                    <%= person.dob.to_date %>
                  </td>
                  <td>
                    <% if person.conviction_check_required? %>
                      <div class="bold-small">
                        <%= t(".person_information.has_convictions.#{person.conviction_search_result.match_result}") %>
                      </div>
                    <% else %>
                      <%= t(".person_information.has_convictions.no") %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
      <div class="column-one-third">
        <%= render "shared/registrations/action_links_panel", resource: @transient_registration %>
      </div>
    </div>
  </div>
</div>
