<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render("waste_carriers_engine/shared/back", back_path: details_path_for(@resource)) %>

    <h1 class="govuk-heading-l">
      <%= t(".heading", reg_identifier: @resource.reg_identifier) %>
    </h1>

    <%= render("shared/flash_messages") %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "shared/company_details_panel", registration: @resource %>

    <% if @resource.pending_payment? %>
      <%= render "shared/registrations/pending_payment_panel", resource: @resource, hide_payment_link: true %>
    <% end %>
  </div>
</div>

<%= render "shared/registrations/finance_action_links", registration: @resource %>

<%= render "shared/registrations/charges_and_amendments", finance_details: @finance_details %>
<%= render "shared/registrations/payment_history", finance_details: @finance_details %>
<%= render "shared/registrations/balance", finance_details: @finance_details %>
