<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render("waste_carriers_engine/shared/back", back_path: resource_finance_details_path(@resource._id)) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("waste_carriers_engine/shared/errors", object: @write_off_form) %>

    <h1 class="govuk-heading-l">
      <%= t(".heading", reg_identifier: @resource.reg_identifier) %>
    </h1>

    <div class="govuk-form-group">
      <%= render "shared/company_details_panel", registration: @resource %>
    </div>

    <h2 class="govuk-heading-m">
      <%= t(".write_off", amount: display_pence_as_pounds_and_cents(@resource.finance_details.zero_difference_balance)) %>
    </h2>

    <%= form_for(@write_off_form, url: resource_write_off_form_path(@resource._id)) do |f| %>
      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
        <div class="govuk-form-group <%= "form-group--error" if @write_off_form.errors[:comment].any? %>">
          <legend class="govuk-visually-hidden">
            <%= t(".heading", reg_identifier: @resource.reg_identifier) %>
          </legend>

          <% if @write_off_form.errors[:comment].any? %>
            <span class="govuk-error-message"><%= @write_off_form.errors[:comment].join(", ") %></span>
          <% end %>

          <%= f.label :comment, class: "govuk-label" do %>
            <%= t(".reason.label") %>
          <% end %>

          <%= f.text_area :comment,
              class: "govuk-textarea govuk-js-character-count",
              rows: 4,
              id: "with-hint" %>

          <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            <%= t(".reason.hint") %>
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <%= submit_tag t(".confirm"), class: "govuk-button" %>
      </div>
    <% end %>
  </div>
</div>
