<div class="grid-row">
  <div class="column-two-thirds">
    <%= render("waste_carriers_engine/shared/back", back_path: root_path) %>

    <h1 class="heading-large">
      <%= t(".heading") %>
    </h1>
    <div class="panel panel-border-wide">
      <p>
        <%= t(".sub_heading") %>
      </p>
    </div>
    <p>
      <%= t(".first_paragraph", link_to_privacy_policy: link_to_privacy_policy).html_safe %>
    </p>
    <p>
      <%= t(".second_paragraph") %>
    </p>
    <p>
      <%= t(".third_paragraph") %>
    </p>
    <p>
      <%= t(".fourth_paragraph") %>
    </p>

    <details>
      <summary>
        <span class="summary"><%= t(".privacy_policy_text.summary") %></span>
      </summary>
      <div class="panel panel-border-narrow">
        <% 1.upto(14).each do |paragraph_index| %>
          <p>
            <%= t(".privacy_policy_text.paragraph_#{paragraph_index}") %>
          </p>
        <% end %>
      </div>
    </details>

    <details>
      <summary>
        <span class="summary"><%= t(".contact_details_dpo.summary") %></span>
      </summary>
      <div class="panel panel-border-narrow">
        <p><%= t(".contact_details_dpo.address_html") %></p>
        <p><%= t(".contact_details_dpo.email") %></p>
      </div>
    </details>

    <details>
      <summary>
        <span class="summary"><%= t(".contact_details_ico.summary") %></span>
      </summary>
      <div class="panel panel-border-narrow">
        <p><%= t(".contact_details_ico.website") %></p>
      </div>
    </details>

    <p><%= link_to "Continue", WasteCarriersEngine::Engine.routes.url_helpers.new_renewal_start_form_path(reg_identifier: @reg_identifier), class: "button" %></p>
    <p><%= t(".last_updated") %></p>
  </div>
</div>
