<div class="grid-row">
  <div class="column-full">
    <%= render("waste_carriers_engine/shared/back", back_path: bo_path) %>

    <%= render("shared/success", message: flash[:success]) if flash[:success].present? %>
    <%= render("shared/message", message: flash[:message]) if flash[:message].present? %>

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">
          <%= t(".heading", reg_identifier: @registration.reg_identifier) %>
        </h1>

        <% if @registration.rejected_conviction_checks? %>
          <%= render "shared/registrations/rejected_conviction_checks_details", resource: @registration %>
        <% elsif @registration.pending_manual_conviction_check? %>
          <%= render "shared/registrations/pending_convictions_panel", resource: @registration %>
        <% end %>

        <% if @registration.pending_payment? %>
          <%= render "shared/registrations/pending_payment_panel", resource: @registration %>
        <% end %>

        <% if @registration.show_ceased_revoked_panel? %>
          <%= render "shared/registrations/ceased_revoked_panel", resource: @registration %>
        <% end %>

        <% if @registration.expired? %>
          <%= render "shared/registrations/expired_panel", resource: @registration %>
        <% end %>

        <%= render "shared/registrations/company_details_panel", resource: @registration %>

        <%= render "shared/registrations/contact_and_business_details_panels", resource: @registration %>

        <hr/>

        <h2 class="heading-medium"><%= t(".conviction_heading") %></h2>
        <div>
          <p>
            <%= @registration.display_convictions_check_message %>
          </p>
        </div>

        <hr>

        <%= render "shared/registrations/finance_details", resource: @registration %>

        <% if @registration.main_people.any? %>
          <%= render "shared/registrations/main_people_details", resource: @registration %>
        <% end %>

        <% if @registration.receipt_email.present? %>
          <%= render "shared/registrations/receipt_email_panel", resource: @registration %>
        <% end %>

        <% if display_renewal_magic_link_for?(@registration) %>
          <%= render "shared/registrations/renewal_link_panel", resource: @registration %>
        <% end %>
      </div>

      <div class="column-one-third">
        <%= render "shared/registrations/action_links_panel", resource: @registration %>
      </div>
    </div>
  </div>
</div>
