<% if @results.present? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"><%= t(".results.th.reg_identifier") %></th>
            <th scope="col" class="govuk-table__header"><%= t(".results.th.company_name") %></th>
            <th scope="col" class="govuk-table__header"><%= t(".results.th.last_modified") %></th>
            <th scope="col" class="govuk-table__header"><%= t(".results.th.actions") %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @results.each do |result| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <%= result.reg_identifier %>
              </td>
              <td class="govuk-table__cell">
                <%= result.company_name %>
              </td>
              <td class="govuk-table__cell">
                <%= result.metaData.last_modified.in_time_zone("London").strftime("%H:%M %d/%m/%Y") %>
              </td>
              <td class="govuk-table__cell">
                <%= link_to details_path(result) do %>
                  <%= t(".results.details_link.text") %>
                  <span class="govuk-visually-hidden">
                    <%= t(".results.details_link.visually_hidden_text",
                          name: result.company_name) %>
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav role="navigation" class="pagination" aria-label="Pagination">
        <div class="pagination__summary govuk-body">
          <%= page_entries_info @results, entry_name: "item" %>
        </div>
        <%= paginate @results %>
      </nav>
    </div>
  </div>
<% else %>
  <p class="govuk-body"><%= t(".no_results") %></p>
<% end %>
