<table>
  <tbody>
    <% if person.present? %>
      <%= render("shared/person_table_rows", person: person) %>
    <% end %>
    <tr>
      <td>
        <%= t(".match_result") %>
      </td>
      <td>
        <%= conviction_search_result.match_result.titleize %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t(".matching_system") %>
      </td>
      <td>
        <%= conviction_search_result.matching_system %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t(".reference") %>
      </td>
      <td>
        <%= conviction_search_result.reference %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t(".matched_name") %>
      </td>
      <td>
        <%= conviction_search_result.matched_name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t(".searched_at") %>
      </td>
      <td>
        <%= conviction_search_result.searched_at.in_time_zone("London").to_formatted_s(:weekday_day_month_year_at_time) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t(".confirmed") %>
      </td>
      <td>
        <%= conviction_search_result.confirmed.titleize %>
      </td>
    </tr>
  </tbody>
</table>
