<%= form_for(form, url: path) do |f| %>
  <%= render("waste_carriers_engine/shared/errors", object: form) %>

  <p>
    <%= t(".current_balance", balance: display_pence_as_pounds(resource.finance_details.balance)) %>
  </p>

  <% if form.errors[:amount].any? %>
  <div class="form-group form-group-error">
  <% else %>
  <div class="form-group">
  <% end %>
    <fieldset id="amount">
      <% if form.errors[:amount].any? %>
      <span class="error-message"><%= form.errors[:amount].join(", ") %></span>
      <% end %>

      <%= f.label :amount, class: "form-label" do %>
        <%= t(".labels.amount") %>
        <span class="form-hint"><%= t(".labels.amount_hint") %></span>
      <% end %>
      <%= f.text_field :amount, class: "form-control" %>
    </fieldset>
  </div>

  <% if form.errors[:date_received].any? %>
  <div class="form-group form-group-error">
  <% else %>
  <div class="form-group">
  <% end %>
    <fieldset id="date_received">
      <% if form.errors[:date_received].any? %>
        <span class="error-message"><%= form.errors[:date_received].join(". ") %></span>
      <% end %>

      <legend>
        <%= t(".labels.date_received") %>
        <span class="form-hint"><%= t(".labels.date_received_hint") %></span>
      </legend>

      <fieldset id="date_received_day" class="inline-date">
        <%= f.label :date_received_day, t(".labels.date_received_day"), class: "form-label" %>
        <%= f.text_field :date_received_day, value: form.date_received_day, class: "form-control" %>
      </fieldset>

      <fieldset id="date_received_month" class="inline-date">
        <%= f.label :date_received_month, t(".labels.date_received_month"), class: "form-label" %>
        <%= f.text_field :date_received_month, value: form.date_received_month, class: "form-control" %>
      </fieldset>

      <fieldset id="date_received_year" class="inline-date">
        <%= f.label :date_received_year, t(".labels.date_received_year"), class: "form-label" %>
        <%= f.text_field :date_received_year, value: form.date_received_year, class: "form-control" %>
      </fieldset>

    </fieldset>
  </div>

  <% if form.errors[:registration_reference].any? %>
  <div class="form-group form-group-error">
  <% else %>
  <div class="form-group">
  <% end %>
    <fieldset id="registration_reference">
      <% if form.errors[:registration_reference].any? %>
      <span class="error-message"><%= form.errors[:registration_reference].join(", ") %></span>
      <% end %>

      <%= f.label :registration_reference, t(".labels.registration_reference"), class: "form-label" %>
      <%= f.text_field :registration_reference, class: "form-control" %>
    </fieldset>
  </div>

  <% if form.errors[:comment].any? %>
  <div class="form-group form-group-error">
  <% else %>
  <div class="form-group">
  <% end %>
    <fieldset id="comment">
      <% if form.errors[:comment].any? %>
      <span class="error-message"><%= form.errors[:comment].join(", ") %></span>
      <% end %>

      <%= f.label :comment, t(".labels.comment"), class: "form-label" %>
      <%= f.text_area :comment, class: "form-control" %>
    </fieldset>
  </div>

  <div class="form-group">
    <div class="notice">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <strong class="bold-small">
        <p><%= t(".renewal_message") %></p>
      </strong>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit t(".submit_button"), class: "button" %>
  </div>
<% end %>
