<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">
    <%= t(".name") %>
  </th>
  <td class="govuk-table__cell">
    <%= person.first_name %> <%= person.last_name %>
  </td>
</tr>
<% if person.position.present? %>
<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">
    <%= t(".position") %>
  </th>
  <td class="govuk-table__cell">
      <%= person.position %>
  </td>
</tr>
<% end %>
<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">
    <%= t(".dob") %>
  </th>
  <td class="govuk-table__cell">
    <%= person.dob.to_date %>
  </td>
</tr>
