<div class="govuk-grid-row">
  <div class=cgovuk-grid-column-full">
    <%= render("waste_carriers_engine/shared/back", back_path: users_path) %>
    <%= form_for @user,
                 url: user_roles_path(@user),
                 html: { method: :post } do |f| %>

      <%= render("waste_carriers_engine/shared/errors", object: @user) %>

      <h1 class="govuk-heading-l">
        <%= t(".heading") %>
      </h1>

      <p class="govuk-body"><%= t(".paragraph1.#{@old_role}", email: @user.email) %></p>

      <%= render("shared/select_role", resource: @user, f: f) %>

      <div class="govuk-form-group">
        <%= f.submit t(".submit_button"), class: "govuk-button" %>
      </div>
    <% end %>
  </div>
</div>
