<div class="grid-row">
  <div class="column-two-thirds">
    <%= render("waste_carriers_engine/shared/back", back_path: convictions_path) %>

    <h1 class="heading-large">
      <%= t(".heading", reg_identifier: @resource.reg_identifier) %>
    </h1>

    <div class="panel">
      <%= @resource.conviction_status_message %>
    </div>

    <h2 class="heading-medium">
      <%= t(".declared_convictions.heading") %>
    </h2>
    <p>
      <%= @resource.declared_convictions_message %>
    </p>

    <h2 class="heading-medium">
      <%= t(".business_convictions.heading") %>
    </h2>
    <p>
      <%= @resource.business_convictions_message %>
    </p>
    <% if @resource.display_business_convictions? %>
      <%= render("shared/conviction_search_result", conviction_search_result: @resource.conviction_search_result, person: nil) %>
    <% end %>

    <h2 class="heading-medium">
      <%= t(".people_convictions.heading") %>
    </h2>
    <p>
      <%= @resource.people_convictions_message %>
    </p>

    <% if @resource.display_people_convictions? %>
      <% @resource.people_with_matches.each do |person| %>
        <h3 class="heading-small">
          <% if person.person_type == "KEY" %>
            <%= t(".people_convictions.person_heading.#{@resource.business_type}") %>
          <% else %>
            <%= t(".people_convictions.person_heading.relevant") %>
          <% end %>
        </h3>
        <%= render("shared/conviction_search_result", conviction_search_result: person.conviction_search_result, person: person) %>
      <% end %>
    <% end %>

    <% if @resource.relevant_people_without_matches.present? %>
      <h2 class="heading-medium">
        <%= t(".unmatched_people.heading") %>
      </h2>
      <p>
        <%= t(".unmatched_people.paragraph") %>
      </p>
      <table>
        <tbody>
          <% @resource.relevant_people_without_matches.each do |person| %>
            <%= render("shared/person_table_rows", person: person) %>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% if @resource.approved_or_revoked? %>
    <table>
      <caption class="heading-medium">
        <%= t(".conviction_sign_off.heading") %>
      </caption>
      <tbody>
        <tr>
          <td>
            <%= t(".conviction_sign_off.labels.status") %>
          </td>
          <td>
            <% if @resource.conviction_check_approved? %>
              <%= t(".conviction_sign_off.labels.status_values.approved") %>
            <% elsif @resource.revoked? %>
              <%= t(".conviction_sign_off.labels.status_values.rejected") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t(".conviction_sign_off.labels.revoked_reason") %>
          </td>
          <td>
            <%= @resource.metaData.revoked_reason %>
          </td>
        </tr>
        <% if @resource.sign_off.confirmed_by.present? %>
        <tr>
          <td>
            <%= t(".conviction_sign_off.labels.confirmed_by") %>
          </td>
          <td>
            <%= @resource.sign_off.confirmed_by %>
          </td>
        </tr>
        <% end %>
        <% if @resource.sign_off.confirmed_at.present? %>
        <tr>
          <td>
            <%= t(".conviction_sign_off.labels.confirmed_at") %>
          </td>
          <td>
            <%= @resource.sign_off.confirmed_at.in_time_zone("London").to_formatted_s(:weekday_day_month_year_at_time) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>

    <% if @resource.display_actions? %>
      <h2 class="heading-medium">
        <%= t(".approve_or_reject.heading") %>
      </h2>
      <% if can? :review_convictions, @resource %>
        <p>
          <%= t(".approve_or_reject.paragraph_1") %>
        </p>
        <p>
          <%= t(".approve_or_reject.paragraph_2") %>
        </p>
        <% if @resource.sign_off.may_approve? %>
          <%= link_to t(".approve_or_reject.buttons.approve"),
                      @resource.approve_path,
                      class: "button" %>
        <% end %>

        <% if @resource.sign_off.may_begin_checks? %>
          <%= link_to t(".approve_or_reject.buttons.begin_checks"),
                      @resource.begin_checks_path,
                      class: "button-alert" %>
        <% end %>

        <% if @resource.sign_off.may_reject? %>
        <%= link_to t(".approve_or_reject.buttons.reject"),
                    @resource.reject_path,
                    class: "button-warning" %>
        <% end %>
      <% else %>
        <%= t(".approve_or_reject.no_permission") %>
      <% end %>
    <% end %>
  </div>
</div>
