<div class="grid-row">
  <div class="column-two-thirds">
    <%= render("waste_carriers_engine/shared/back", back_path: transient_registration_path(@transient_registration.reg_identifier)) %>

    <h1 class="heading-large">
      <%= t(".heading", reg_identifier: @transient_registration.reg_identifier) %>
    </h1>

    <div class="panel">
      <% if @transient_registration.conviction_check_approved? %>
        <%= t(".status.approved") %>
      <% elsif @transient_registration.metaData.REVOKED? %>
        <%= t(".status.rejected") %>
      <% else %>
        <%= t(".status.#{@transient_registration.conviction_check_required?}") %>
      <% end %>
    </div>

    <h2 class="heading-medium">
      <%= t(".declared_convictions.heading") %>
    </h2>
    <p>
      <%= t(".declared_convictions.#{declared_convictions}") %>
    </p>

    <h2 class="heading-medium">
      <%= t(".business_convictions.heading") %>
    </h2>
    <p>
      <%= t(".business_convictions.#{business_convictions}") %>
    </p>
    <% if business_convictions == true %>
      <%= render("shared/conviction_search_result", conviction_search_result: @transient_registration.conviction_search_result, person: nil) %>
    <% end %>

    <h2 class="heading-medium">
      <%= t(".people_convictions.heading") %>
    </h2>
    <p>
      <%= t(".people_convictions.#{people_convictions}") %>
    </p>

    <% if people_convictions == true %>
      <% people_with_matches.each do |person| %>
        <h3 class="heading-small">
          <% if person.person_type == "KEY" %>
            <%= t(".people_convictions.person_heading.#{@transient_registration.business_type}") %>
          <% else %>
            <%= t(".people_convictions.person_heading.relevant") %>
          <% end %>
        </h3>
        <%= render("shared/conviction_search_result", conviction_search_result: person.conviction_search_result, person: person) %>
      <% end %>
    <% end %>

    <% if relevant_people_without_matches.present? %>
      <h2 class="heading-medium">
        <%= t(".unmatched_people.heading") %>
      </h2>
      <p>
        <%= t(".unmatched_people.paragraph") %>
      </p>
      <% relevant_people_without_matches.each do |person| %>
        <table>
          <tbody>
            <%= render("shared/person_table_rows", person: person) %>
          </tbody>
        </table>
      <% end %>
    <% end %>

    <% if @transient_registration.conviction_check_approved? || @transient_registration.metaData.REVOKED? %>
    <table>
      <caption class="heading-medium">
        <%= t(".conviction_sign_off.heading") %>
      </caption>
      <tbody>
        <tr>
          <td>
            <%= t(".conviction_sign_off.labels.status") %>
          </td>
          <td>
            <% if @transient_registration.conviction_check_approved? %>
              <%= t(".conviction_sign_off.labels.status_values.approved") %>
            <% elsif @transient_registration.metaData.REVOKED? %>
              <%= t(".conviction_sign_off.labels.status_values.rejected") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t(".conviction_sign_off.labels.revoked_reason") %>
          </td>
          <td>
            <%= @transient_registration.metaData.revoked_reason %>
          </td>
        </tr>
        <% if @transient_registration.conviction_sign_offs.first.confirmed_by.present? %>
        <tr>
          <td>
            <%= t(".conviction_sign_off.labels.confirmed_by") %>
          </td>
          <td>
            <%= @transient_registration.conviction_sign_offs.first.confirmed_by %>
          </td>
        </tr>
        <% end %>
        <% if @transient_registration.conviction_sign_offs.first.confirmed_at.present? %>
        <tr>
          <td>
            <%= t(".conviction_sign_off.labels.confirmed_at") %>
          </td>
          <td>
            <%= @transient_registration.conviction_sign_offs.first.confirmed_at.in_time_zone("London").strftime("%A %e %B %Y at %l:%M%P") %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>

    <% if @registration.metaData.may_renew? && @transient_registration.conviction_check_required? %>
      <h2 class="heading-medium">
        <%= t(".approve_or_reject.heading") %>
      </h2>
      <% if can? :review_convictions, @transient_registration %>
        <p>
          <%= t(".approve_or_reject.paragraph_1") %>
        </p>
        <p>
          <%= t(".approve_or_reject.paragraph_2") %>
        </p>
        <%= link_to t(".approve_or_reject.buttons.approve"), new_transient_registration_conviction_approval_form_path(@transient_registration.reg_identifier), class: "button" %>
        <%= link_to t(".approve_or_reject.buttons.reject"), new_transient_registration_conviction_rejection_form_path(@transient_registration.reg_identifier), class: "button-warning" %>
      <% else %>
        <%= t(".approve_or_reject.no_permission") %>
      <% end %>
    <% end %>
  </div>
</div>
