<div class="wcr-actions">
  <h2 class="govuk-heading-m">
    <%= resource.display_action_links_heading %>
  </h2>
  <div id="registration-last-modified" class="govuk-visually-hidden">
    <%= resource.display_last_modifed %>
  </div>
  <ul class="govuk-list govuk-list--spaced">
    <% if display_resume_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.continue_button"), resume_link_for(resource) %>
      </li>
    <% end %>

    <% if display_renew_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.renew"), renew_link_for(resource) %>
      </li>
    <% end %>

    <% if display_ways_to_share_magic_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.resend_renewal_email"), resend_renewal_email_path(reg_identifier: resource.reg_identifier) %>
      </li>
    <% end %>

    <% if display_transfer_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.transfer"), new_registration_registration_transfer_path(resource.reg_identifier) %>
      </li>
    <% end %>

    <% if display_edit_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.edit"), WasteCarriersEngine::Engine.routes.url_helpers.new_edit_form_path(resource.reg_identifier) %>
      </li>
    <% end %>

    <% if display_certificate_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.certificate"), registration_certificate_path(resource.reg_identifier) %>
      </li>
    <% end %>

    <% if display_resend_confirmation_email_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.resend_confirmation_email"), resend_confirmation_email_path(reg_identifier: resource.reg_identifier) %>
      </li>
    <% end %>

    <% if display_order_copy_cards_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.order_copy_cards"), basic_app_engine.new_copy_cards_form_path(resource.reg_identifier) %>
      </li>
    <% end %>

    <% if display_finance_details_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.payment_details"), resource_finance_details_path(resource._id)  %>
      </li>
    <% end %>

    <% if display_cease_or_revoke_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.revoke"), WasteCarriersEngine::Engine.routes.url_helpers.new_cease_or_revoke_form_path(resource.reg_identifier) %>
      </li>
    <% end %>

    <% if display_cancel_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.cancel"), new_resource_cancel_path(resource._id) %>
      </li>
    <% end %>

    <% if display_restart_renewal_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.restart_renewal"),
                      renewing_registration_restart_renewal_path(resource.reg_identifier),
                      method: :delete %>
      </li>
    <% end %>

    <% if display_refresh_registered_company_name_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.refresh_companies_house"),
                      registration_companies_house_details_path(resource.reg_identifier),
                      method: :patch %>
      </li>
    <% end %>
  </ul>
</div>
