<div class="wcr-actions wcr-actions--push-down">
  <h2 class="heading-medium">
    <%= t(".actions_box.heading", reg_identifier: resource.reg_identifier) %>
  </h2>
  <ul>
    <!-- TODO: This `display_resume_link_for?` will need to be updated when we build NewRegistration -->
    <% if display_resume_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.continue_button"), resume_link_for(resource) %>
      </li>
    <% end %>

    <% if display_renew_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.renew"), renew_link_for(resource) %>
      </li>
    <% end %>

    <% if display_transfer_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.transfer"), transfer_link_for(resource) %>
      </li>
    <% end %>

    <li class="separated" />

    <% if display_edit_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.edit"), "#" %>
      </li>
    <% end %>

    <% if display_view_confirmation_letter_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.view_confirmation_letter"), "#" %>
      </li>
    <% end %>

    <li class="separated" />

    <% if display_order_copy_cards_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.order_copy_cards"), basic_app_engine.new_copy_cards_form_path(resource.reg_identifier) %>
      </li>
    <% end %>

    <% if display_payment_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.payment_details"), finance_details_path(resource._id)  %>
      </li>
    <% end %>

    <% if display_revoke_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.revoke"), WasteCarriersEngine::Engine.routes.url_helpers.new_cease_or_revoke_form_path(resource.reg_identifier) %>
      </li>
    <% end %>

    <% if display_cease_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.cease"), "#" %>
      </li>
    <% end %>
  </ul>
</div>
