<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      <%= t(".heading") %>
    </h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            <%= t(".date") %>
          </th>
          <th class="govuk-table__header" scope="col">
            <%= t(".charge") %>
          </th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">
            <%= t(".amount") %>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @finance_details.orders.each do |order| %>
          <% order.order_items.each do |order_item| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <%= order.date_created.to_formatted_s(:day_month_year_time_slashes) %>
              </td>
              <td class="govuk-table__cell">
                <%= order_item.description.capitalize %>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <%= display_pence_as_pounds_and_cents(order_item.amount) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
