<% if resource.display_company_details_panel? %>
  <% if resource.entity_display_name.present? %>
    <h2 class="govuk-heading-m">
      <%= resource.entity_display_name %>
    </h2>
  <% end %>
  <% if resource.display_tier_and_registration_type.present? %>
    <p class="govuk-body">
      <%= resource.display_tier_and_registration_type %>
    </p>
  <% end %>
  <% if resource.display_expiry_text.present? || resource.account_email.present? %>
    <p class="govuk-body">
      <% if resource.display_expiry_text.present? %>
        <%= resource.display_expiry_text %>
        <br>
      <% end %>
      <% if resource.account_email.present? %>
        <%= t(".labels.account_html", email: resource.account_email).html_safe %>
      <% end %>
    </p>
  <% end %>
<% else %>
  <%= t(".no_company_details_available") %>
<% end %>
