<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">
      <%= t(".contact_information.heading") %>
    </h2>
    <% if resource.display_contact_information_panel? %>
      <p class="govuk-body">
        <%= resource.first_name %> <%= resource.last_name %>
      </p>
      <p class="govuk-body">
        <%= resource.phone_number %>
      </p>
      <p class="govuk-body">
        <a href="mailto:<%= resource.contact_email %>" target="_top">
          <%= resource.contact_email %>
        </a>
      </p>
      <p class="govuk-body">
        <% if resource.contact_address.present? %>
          <% displayable_address(resource.contact_address).each do |line| %>
            <%= line %><br>
          <% end %>
        <% end %>
      </p>
    <% else %>
      <p class="govuk-body"><%= t(".contact_information.no_contact_information_available") %></p>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">
      <%= t(".business_information.heading") %>
    </h2>
    <% if resource.display_business_information_panel? %>
      <p class="govuk-body">
        <%= resource.entity_display_name %>
      </p>
      <% if resource.company_no.present? %>
        <p class="govuk-body">
          <%= t(".business_information.labels.company_no", number: resource.company_no) %>
        </p>
      <% end %>

      <% if resource.registered_address.present? %>
        <p class="govuk-body">
          <%= t(".business_information.labels.registered_address_html").html_safe %> <br>
          <% displayable_address(resource.registered_address).each do |line| %>
            <%= line %><br>
          <% end %>
        </p>
      <% end %>
      <p class="govuk-body">
        <%= resource.displayable_location %>
      </p>
    <% else %>
      <p class="govuk-body"><%= t(".business_information.no_business_information_available") %></p>
    <% end %>
  </div>
</div>
