<h2 class="heading-medium">
  <% if resource.unpaid_balance? %>
    <%= t(".finance_information.heading_with_amount_owed", amount: display_pence_as_pounds(resource.finance_details.balance)) %>
  <% elsif resource.show_no_finance_details_data? %>
    <%= t(".finance_information.balance.no_data") %>
  <% else %>
    <%= t(".finance_information.heading") %>
  <% end %>
</h2>

<% if resource.lower_tier? %>
  <p>
    <%= t(".finance_information.lower_tier_message") %>
  </p>
<% end %>

<% if resource.show_order_details? %>
  <table>
    <tbody>
      <tr>
        <th>
          <%= t(".order_information.labels.payment_method") %>
        </th>
        <td>
          <%= resource.latest_order.payment_method.titleize %>
        </td>
      </tr>
      <% resource.latest_order.order_items.each do |item| %>
        <tr>
          <th>
            <%= item.description %>
          </th>
          <td>
            £<%= display_pence_as_pounds(item.amount) %>
          </td>
        </tr>
      <% end %>
      <tr>
        <th>
          <strong class="bold-small">
            <%= t(".order_information.labels.total_amount") %>
          </strong>
        </th>
        <td>
          <strong class="bold-small">
            £<%= display_pence_as_pounds(resource.latest_order.total_amount) %>
          </strong>
        </td>
      </tr>
      <tr>
        <th>
          <%= t(".order_information.labels.order_code") %>
        </th>
        <td>
          <%= resource.latest_order.order_code %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
