<div class="grid-row">
  <div class="column-full">
    <%= link_to t(".enter_payment"), "#TODO", class: "button" %>
    <%= link_to t(".reverse_payment"), "#TODO", class: "button" %>
    <%= link_to t(".write_off_l"), "#TODO", class: "button" %>
    <%= link_to t(".write_off_s"), "#TODO", class: "button" %>
    <%= link_to t(".adjust_charge"), "#TODO", class: "button" %>
    <%= link_to t(".refund"), "#TODO", class: "button" %>
  </div>
</div>
