<div class="grid-row">
  <div class="column-full">
    <%= link_to t(".enter_payment"), "#TODO", class: "button" %>
    <%= link_to t(".reverse_payment"), "#TODO", class: "button" %>
    <%= link_to t(".write_off_l"), "#TODO", class: "button" %>
    <%= link_to t(".write_off_s"), "#TODO", class: "button" %>
    <%= link_to t(".adjust_charge"), "#TODO", class: "button" %>

    <% if can?(:refund, @registration) %>
      <%= link_to t(".refund"), finance_details_refunds_path(@registration._id), class: "button" %>
    <% end %>
  </div>
</div>
