<% if resource.lower_tier? %>
  <p class="govuk-body">
    <%= t(".finance_information.lower_tier_message") %>
  </p>
<% end %>

<% if resource.show_order_details? %>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
      <% if resource.unpaid_balance? %>
        <%= t(".finance_information.heading_with_amount_owed", amount: display_pence_as_pounds(resource.finance_details.balance)) %>
      <% elsif resource.show_no_finance_details_data? %>
        <%= t(".finance_information.balance.no_data") %>
      <% else %>
        <%= t(".finance_information.heading") %>
      <% end %>
    </caption>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <%= t(".order_information.labels.payment_method") %>
        </th>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <%= resource.latest_order&.payment_method %>
        </td>
      </tr>
      <% resource.latest_order.order_items.each do |item| %>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <%= item.description&.capitalize %>
          </th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            £<%= display_pence_as_pounds(item.amount) %>
          </td>
        </tr>
      <% end %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <%= t(".order_information.labels.total_amount") %>
        </th>
        <td class="govuk-table__header govuk-table__header--numeric">
          £<%= display_pence_as_pounds(resource.latest_order.total_amount) %>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell">
          <%= t(".order_information.labels.order_code") %>
        </th>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <%= resource.latest_order.order_code %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
