<div class="panel">
  <h2 class="heading-medium">
    <%= t(".status.headings.in_progress") %>
  </h2>

  <% if registration.workflow_state == "worldpay_form" %>
    <p>
      <%= t(".status.messages.worldpay.paragraph_1") %>
    </p>

    <% if can? :revert_to_payment_summary, registration %>
      <p>
        <%= t(".status.messages.worldpay.paragraph_2.revert") %>
      </p>
      <%= link_to t(".status.actions.revert_to_payment_summary_button"), new_transient_registration_worldpay_escape_path(registration.reg_identifier), class: 'button' %>
    <% elsif can? :record_worldpay_missed_payment, registration %>
      <p>
        <%= t(".status.messages.worldpay.paragraph_2.missed_payment") %>
      </p>
      <%= link_to t(".status.actions.missed_worldpay_payment_button"), new_transient_registration_worldpay_missed_payment_form_path(registration.reg_identifier), class: 'button' %>
    <% end %>
  <% else %>
    <p>
      <%= t(".status.messages.in_progress") %> "<%= display_current_workflow_state %>".
    </p>
    <% if can? :update, registration %>
      <%= link_to t(".status.actions.continue_button"), WasteCarriersEngine::Engine.routes.url_helpers.new_renewal_start_form_path(registration.reg_identifier), class: 'button' %>
    <% end %>
  <% end %>
</div>
