<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      <%= t(".heading") %>
    </h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            <%= t(".date") %>
          </th>
          <th class="govuk-table__header" scope="col">
            <%= t(".method") %>
          </th>
          <th class="govuk-table__header" scope="col">
            <%= t(".reference") %>
          </th>
          <th class="govuk-table__header" scope="col">
            <%= t(".comment") %>
          </th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">
            <%= t(".amount") %>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @finance_details.payments.each do |payment| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <%= (payment.date_received || payment.date_entered).to_formatted_s(:day_month_year_time_slashes) %>
            </td>
            <td class="govuk-table__cell">
              <%= t("shared.payment_type.#{payment.payment_type}") %>
            </td>
            <td class="govuk-table__cell">
              <%= payment.order_key %>/<%= payment.registration_reference %>
            </td>
            <td class="govuk-table__cell">
              <%= payment.comment %>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <%= display_pence_as_pounds_and_cents(payment.amount) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
