<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render("waste_carriers_engine/shared/back", back_path: bo_path) %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          <%= @transient_registration.display_heading %>
        </h1>

        <div class="govuk-inset-text">
          <h2 class="heading-medium">
            <%= t(".status.headings.in_progress") %>
          </h2>

          <p class="govuk-body">
            <%= @transient_registration.display_current_workflow_state %>
          </p>
          <% if display_resume_link_for?(@transient_registration) %>
            <%= link_to t(".status.actions.continue_button"), resume_link_for(@transient_registration), class: 'button' %>
          <% end %>
        </div>

        <%= render "shared/registrations/company_details_panel", resource: @transient_registration %>

        <%= render "shared/registrations/contact_and_business_details_panels", resource: @transient_registration %>

        <hr>

        <h2 class="govuk-heading-m"><%= t(".conviction_heading") %></h2>
        <p class="govuk-body">
          <%= @transient_registration.display_convictions_check_message %>
        </p>

        <hr>

        <% if @transient_registration.main_people.any? %>
          <%= render "shared/registrations/main_people_details", resource: @transient_registration %>
        <% end %>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render "shared/registrations/action_links_panel", resource: @transient_registration %>
      </div>
    </div>
  </div>
</div>
