<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("waste_carriers_engine/shared/back", back_path: resource_finance_details_path(@resource._id)) %>

    <%= render("waste_carriers_engine/shared/errors", object: @payment_form) %>

    <%= form_for(@payment_form, url: resource_payment_forms_path(@resource._id)) do |f| %>
      <h1 class="govuk-heading-l">
        <%= t(".heading") %>
      </h1>

      <%= render "shared/company_details_panel", registration: @resource %>

      <div class="govuk-form-group <%= "govuk-form-group--error" if @payment_form.errors[:payment_type].any? %>">
        <legend class="govuk-visually-hidden">
          <%= t(".heading") %>
        </legend>

        <% if @payment_form.errors[:payment_type].any? %>
          <span class="govuk-error-message"><%= @payment_form.errors[:payment_type].join(", ") %></span>
        <% end %>

        <div class="govuk-radios">
          <% PaymentForm::PAYMENT_TYPES.each do |type| %>
            <div class="govuk-radios__item">
              <%= f.radio_button :payment_type,
                                 type,
                                 disabled: !(can? record_payment_of_type(type), @resource),
                                 class: "govuk-radios__input" %>
              <%= f.label :payment_type, value: type, class: "govuk-label govuk-radios__label" do %>
                <%= t(".options.#{type}") %>
                <% if !(can? record_payment_of_type(type), @resource)%>
                  <%= t(".no_permission") %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="govuk-form-group">
        <%= f.submit t(".submit_button"), class: "govuk-button" %>
      </div>
    <% end %>
  </div>
</div>
