<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_for resource,
                 as: resource_name,
                 url: invitation_path(resource_name),
                 html: { method: :put } do |f| %>

       <h1 class="govuk-heading-l">
         <%= t(".heading") %>
       </h1>

       <p class="govuk-body"><%= t(".paragraph1") %></p>

      <%= render("waste_carriers_engine/shared/errors", object: resource) %>

      <%= f.hidden_field :invitation_token %>

      <div class="govuk-form-group <%= "govuk-form-group--error" if resource.errors[:role].any? %>">
        <%= f.label :password, class: "govuk-label" do %>
          <%= t(".password_label") %>
          <span class="govuk-hint">
            <%= t(".password_hint.text") %>
            <ul class="govuk-list govuk-list--bullet">
              <li><%= t(".password_hint.list_item_1") %></li>
              <li><%= t(".password_hint.list_item_2") %></li>
              <li><%= t(".password_hint.list_item_3") %></li>
            </ul>
          </span>
        <% end %>
        <%= f.password_field :password, class: "govuk-input govuk-!-width-one-half" %>
      </div>

      <div class="govuk-form-group <%= "govuk-form-group--error" if resource.errors[:role].any? %>">
        <%= f.label :password_confirmation, t(".password_confirmation_label"), class: "govuk-label" %>
        <%= f.password_field :password_confirmation, class: "govuk-input govuk-!-width-one-half" %>
      </div>

      <div class="govuk-form-group">
        <%= f.submit t(".submit_button"), class: "govuk-button" %>
      </div>
    <% end %>
  </div>
</div>
