<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-body">
    <%= render("waste_carriers_engine/shared/back", back_path: users_path) %>

    <%= form_for resource,
                 as: resource_name,
                 url: invitation_path(resource_name),
                 html: { method: :post } do |f| %>

      <%= render("waste_carriers_engine/shared/errors", object: resource) %>

      <h1 class="govuk-heading-l">
        <%= t(".heading") %>
      </h1>

      <p><%= t(".paragraph_1") %></p>
      <p><%= t(".paragraph_2") %></p>
      <p><%= t(".paragraph_3") %></p>

      <% resource.class.invite_key_fields.each do |field| %>
        <% if resource.errors[field].any? %>
          <span class="govuk-error-message"><%= resource.errors[field].join(", ") %></span>
        <% end %>

        <div class="govuk-form-group <%= "govuk-form-group--error" if resource.errors[field].any? %>">
          <%= f.label field, t(".#{field}_label"), class: "govuk-label" %>
          <%= f.text_field field, class: "govuk-input govuk-!-width-one-half", spellcheck: "false" %>
        </div>
      <% end %>

      <%= render("shared/select_role", resource: resource, f: f) %>

      <div class="govuk-form-group">
        <%= f.submit t(".submit_button"), class: "govuk-button" %>
      </div>
    <% end %>
  </div>
</div>
