<div class="grid-row">
  <div class="column-two-thirds">
    <%= render("waste_carriers_engine/shared/back", back_path: users_path) %>

    <h1 class="heading-large">
      <%= t(".heading") %>
    </h1>

    <p><%= t(".paragraph_1") %></p>
    <p><%= t(".paragraph_2") %></p>

    <h2 class="heading-medium">
      <%= t(".subheading_1") %>
    </h1>

    <p><%= t(".paragraph_3") %></p>
    <p><%= t(".paragraph_4") %></p>

    <h2 class="heading-medium">
      <%= t(".subheading_2") %>
    </h1>

    <p><%= t(".paragraph_5") %></p>

    <h2 class="heading-medium">
      <%= t(".subheading_3") %>
    </h1>

    <p><%= t(".paragraph_6") %></p>

    <%= button_to t(".button"),
                  user_migrations_path,
                  class: "button" %>
  </div>
</div>
