<div class="grid-row">
  <div class="column-full">
    <div id="user-status">
      <p>
        <%= t(".user_info.signed_in_user", email: current_user.email) %>
        <%= link_to t(".user_info.sign_out_link"), destroy_user_session_path %>
      </p>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-large">
      <%= t(".heading") %>
    </h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <%= render("shared/success", message: flash[:success]) if flash[:success].present? %>
    <%= render("shared/message", message: flash[:message]) if flash[:message].present? %>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="form-group">
      <%= form_tag("/bo", method: :get) do %>
        <%= label_tag :term, class: "form-label" do %>
          <%= t(".search.label") %>
          <span class="form-hint"><%= t(".search.hint") %></span>
        <% end %>
        <%= text_field_tag :term, @term, class: "form-control", type: "search" %>
        <%= submit_tag t(".search.submit"), class: "button" %>
      <% end %>
    </div>
  </div>

  <!-- TODO: restore link when internal route exists https://eaflood.atlassian.net/browse/RUBY-786 -->
  <!-- <div class="column-one-third">
    <div class="wcr-actions">
      <h2 class="heading-small">
        <%#= t(".actions.subheading") %>
      </h2>
      <ul>
        <li>
          <%#= link_to t(".actions.new_registration"), "#" %>
        </li>
      </ul>
    </div>
  </div> -->
</div>

<% if @results.any? %>
  <div class="grid-row">
    <div class="column-full">
      <table class="dashboard_results">
        <caption>
          <h2 class="heading-medium">
            <%= t(".results.caption", count: @result_count) %>
          </h2>
        </caption>
        <thead>
          <tr>
            <th><%= t(".results.th.reg_identifier") %></th>
            <th><%= t(".results.th.business") %></th>
            <th><%= t(".results.th.status") %></th>
            <th><%= t(".results.th.dates") %></th>
            <th><%= t(".results.th.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |result| %>
            <tr>
              <td>
                <%= result.reg_identifier %>
              </td>
              <td>
                <%= result.company_name %>
                <% if result.registered_address.present? %>
                  <p class="address font-xsmall">
                    <%= inline_registered_address(result) %>
                  </p>
                <% end %>
              </td>
              <td>
                <% if result_type(result).present? %>
                  <%= t(".results.classes.#{result_type(result)}") %><br>
                <% end %>

                <% status_tags(result).each do |tag| %>
                  <span class="status-tag status-tag--<%= tag %>">
                    <%= t(".results.statuses.#{tag}") %>
                  </span>
                <% end %>
              </td>
              <td>
                <%= result_date(result) %>
              </td>
              <td>
                <ul>
                  <% if display_details_link_for?(result) %>
                    <li>
                      <%= link_to details_link_for(result) do %>
                        <%= t(".results.actions.details.link_text") %>
                        <span class="visually-hidden">
                          <%= t(".results.actions.details.visually_hidden_text",
                                name: result.company_name) %>
                        </span>
                      <% end %>
                    </li>
                  <% end %>
                  <% if display_cease_or_revoke_link_for?(result) %>
                    <li>
                      <%= link_to WasteCarriersEngine::Engine.routes.url_helpers.new_cease_or_revoke_form_path(result.reg_identifier) do %>
                        <%= t(".results.actions.cease_or_revoke.link_text") %>
                        <span class="visually-hidden">
                          <%= t(".results.actions.cease_or_revoke.visually_hidden_text",
                                name: result.company_name) %>
                        </span>
                      <% end %>
                    </li>
                  <% end %>
                  <% if display_resume_link_for?(result) %>
                    <li>
                      <%= link_to resume_link_for(result) do %>
                        <%= t(".results.actions.resume.link_text") %>
                        <span class="visually-hidden">
                          <%= t(".results.actions.resume.visually_hidden_text",
                                name: result.company_name) %>
                        </span>
                      <% end %>
                    </li>
                  <% end %>
                  <% if display_finance_details_link_for?(result) %>
                    <li>
                      <%= link_to resource_finance_details_path(result._id) do %>
                        <%= t(".results.actions.payment.link_text") %>
                        <span class="visually-hidden">
                          <%= t(".results.actions.payment.visually_hidden_text",
                                name: result.company_name) %>
                        </span>
                      <% end %>
                    </li>
                  <% end %>
                  <% if display_renew_link_for?(result) %>
                    <li>
                      <%= link_to renew_link_for(result) do %>
                        <%= t(".results.actions.renew.link_text") %>
                        <span class="visually-hidden">
                          <%= t(".results.actions.renew.visually_hidden_text",
                                name: result.company_name) %>
                        </span>
                      <% end %>
                    </li>
                    <% end %>
                  <% if display_transfer_link_for?(result) %>
                    <li>
                      <%= link_to transfer_link_for(result) do %>
                        <%= t(".results.actions.transfer.link_text") %>
                        <span class="visually-hidden">
                          <%= t(".results.actions.transfer.visually_hidden_text",
                                name: result.company_name) %>
                        </span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <nav role="navigation" class="pagination" aria-label="Pagination">
        <div class="pagination__summary">
          <%= page_entries_info @results, entry_name: "item" %>
        </div>
        <%= paginate @results %>
      </nav>
    </div>
  </div>

<% elsif @term.present? %>

<hr>

<div class="grid-row">
  <div class="column-full">
    <p><%= t(".results.no_results") %></p>
  </div>
</div>

<% end %>
