<h1 class="heading-large">
  <%= t(".heading") %>
</h1>

<div class="grid-row">
  <div class="column-full">
    <p><%= t(".search.paragraph_1") %></p>
    <ul class="list list-bullet">
      <% t(".search.searchable_attributes").each do |attribute| %>
        <li><%= attribute %></li>
      <% end %>
    </ul>
    <p><%= t(".search.paragraph_2") %></p>
    <div class="form-group panel panel-border-wide">
      <%= form_tag("/bo", method: :get) do %>
        <%= label_tag :term, t(".search.label"), class: "form-label visually-hidden" %>
        <%= text_field_tag :term, @term, placeholder: t(".search.placeholder"), class: "form-control" %>
        <%= submit_tag t(".search.submit"), class: "button" %>

        <div class="filters">
          <p><%= t(".search.filters.paragraph_1") %></p>
          <div class="form-group">
            <div class="multiple-choice">
              <%= check_box_tag :in_progress,
                                "true",
                                @in_progress %>
              <%= label_tag :in_progress,
                            t(".search.filters.in_progress") %>
            </div>
            <div class="multiple-choice">
              <%= check_box_tag :pending_payment,
                                "true",
                                @pending_payment %>
              <%= label_tag :pending_payment,
                            t(".search.filters.pending_payment") %>
            </div>
            <div class="multiple-choice">
              <%= check_box_tag :pending_conviction_check,
                                "true",
                                @pending_conviction_check %>
              <%= label_tag :pending_conviction_check,
                            t(".search.filters.pending_conviction_check") %>
            </div>
          </div>
          <p><%= link_to t(".search.clear_all_link"), bo_path %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @transient_registrations.present? %>
  <div class="grid-row">
    <div class="column-full">
      <table>
        <thead>
          <tr>
            <th><%= t(".results.th.reg_identifier") %></th>
            <th><%= t(".results.th.company_name") %></th>
            <th><%= t(".results.th.status") %></th>
            <th><%= t(".results.th.last_modified") %></th>
            <th><%= t(".results.th.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @transient_registrations.each do |transient_registration| %>
            <tr>
              <td>
                <%= transient_registration.reg_identifier %>
              </td>
              <td>
                <%= transient_registration.company_name %>
              </td>
              <td>
                <% if transient_registration.renewal_application_submitted? %>
                    <% if transient_registration.pending_payment? %>
                      <strong class="app-c-tag app-c-tag--success">
                        <%= t(".results.statuses.pending_payment") %>
                      </strong>
                    <% end %>
                    <% if transient_registration.pending_manual_conviction_check? %>
                      <strong class="app-c-tag app-c-tag--warning">
                        <%= t(".results.statuses.pending_conviction_check") %>
                      </strong>
                    <% end %>
                <% else %>
                  <strong class="app-c-tag">
                    <%= t(".results.statuses.in_progress") %>
                  </strong>
                <% end %>
              </td>
              <td>
                <%= transient_registration.metaData.last_modified.in_time_zone("London").strftime("%H:%M %d/%m/%Y") %>
              </td>
              <td>
                <%= link_to t(".results.details_button"), transient_registration_path(transient_registration.reg_identifier) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <nav role="navigation" class="pagination" aria-label="Pagination">
        <div class="pagination__summary">
          <%= page_entries_info @transient_registrations, entry_name: "item" %>
        </div>
        <%= paginate @transient_registrations %>
      </nav>
    </div>
  </div>

<% else %>

<hr>

<div class="grid-row">
  <div class="column-full">
    <p><%= t(".results.no_results") %></p>
  </div>
</div>

<% end %>
