<% content_for :phase_banner do %>
  <% if user_signed_in? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" id="user-status">
        <p class="govuk-body">
          <%= t("layouts.application.user_info.signed_in_user", email: current_user.email) %>
          <%= link_to t("layouts.application.user_info.sign_out_link"), destroy_user_session_path %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= t(".heading") %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render("shared/flash_messages") %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <%= form_tag("/bo", method: :get) do %>
        <%= label_tag :term, class: "govuk-label" do %>
          <%= t(".search.label") %>
          <span class="govuk-hint"><%= t(".search.hint") %></span>
        <% end %>
        <%= text_field_tag :term, @term, class: "govuk-input govuk-!-width-one-half", type: "search" %>
        <%= submit_tag t(".search.submit"), class: "govuk-button" %>
      <% end %>
    </div>
  </div>

  <% if can?(:create, WasteCarriersEngine::Registration) && WasteCarriersEngine::FeatureToggle.active?(:new_registration) %>
    <div class="govuk-grid-column-one-third">
      <div class="wcr-actions">
        <h2 class="govuk-heading-s">
          <%= t(".actions.subheading") %>
        </h2>
        <ul class="govuk-list">
          <li>
            <%= link_to t(".actions.new_registration"), ad_privacy_policy_path %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<% if @results.any? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          <%= t(".results.caption", count: @result_count) %>
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"><%= t(".results.th.reg_identifier") %></th>
            <th scope="col" class="govuk-table__header"><%= t(".results.th.business") %></th>
            <th scope="col" class="govuk-table__header"><%= t(".results.th.status") %></th>
            <th scope="col" class="govuk-table__header"><%= t(".results.th.dates") %></th>
            <th scope="col" class="govuk-table__header"><%= t(".results.th.actions") %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @results.each do |result| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <% unless result.is_a?(WasteCarriersEngine::NewRegistration) %>
                  <%= result.reg_identifier %>
                <% end %>
              </td>
              <td class="govuk-table__cell">
                <%= result.entity_display_name %>
                <% if result.registered_address.present? %>
                  <p class="address font-xsmall">
                    <%= inline_registered_address(result) %>
                  </p>
                <% end %>
              </td>
              <td class="govuk-table__cell">
                <% if result_type(result).present? %>
                  <%= t(".results.classes.#{result_type(result)}") %><br>
                <% end %>

                <% status_tags(result).each do |tag| %>
                  <span class="govuk-tag govuk-tag--<%= tag %>">
                    <%= t(".results.statuses.#{tag}") %>
                  </span>
                <% end %>
              </td>
              <td class="govuk-table__cell">
                <%= result_date(result) %>
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <%= link_to details_link_for(result) do %>
                      <%= t(".results.actions.details.link_text") %>
                      <span class="govuk-visually-hidden">
                        <%= t(".results.actions.details.visually_hidden_text",
                              name: result.company_name) %>
                      </span>
                    <% end %>
                  </li>
                  <% if display_resume_link_for?(result) %>
                    <li>
                      <%= link_to resume_link_for(result) do %>
                        <%= t(".results.actions.resume.link_text") %>
                        <span class="govuk-visually-hidden">
                          <%= t(".results.actions.resume.visually_hidden_text",
                                name: result.company_name) %>
                        </span>
                      <% end %>
                    </li>
                  <% end %>
                  <% if display_finance_details_link_for?(result) %>
                    <li>
                      <%= link_to resource_finance_details_path(result._id) do %>
                        <%= t(".results.actions.payment.link_text") %>
                        <span class="govuk-visually-hidden">
                          <%= t(".results.actions.payment.visually_hidden_text",
                                name: result.company_name) %>
                        </span>
                      <% end %>
                    </li>
                  <% end %>
                  <% if display_renew_link_for?(result) %>
                    <li>
                      <%= link_to renew_link_for(result) do %>
                        <%= t(".results.actions.renew.link_text") %>
                        <span class="govuk-visually-hidden">
                          <%= t(".results.actions.renew.visually_hidden_text",
                                name: result.company_name) %>
                        </span>
                      <% end %>
                    </li>
                    <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-body">
      <nav role="navigation" class="pagination" aria-label="Pagination">
        <div class="pagination__summary">
          <%= page_entries_info @results, entry_name: "item" %>
        </div>
        <%= paginate @results %>
      </nav>
    </div>
  </div>

<% elsif @term.present? %>

<hr>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body"><%= t(".results.no_results") %></p>
  </div>
</div>

<% end %>
