<h1 class="heading-large">
  <%= t(".heading") %>
</h1>

<div class="grid-row">
  <div class="column-full">
    <div class="panel">
      <p>TODO: Search</p>
    </div>

    <% if @transient_registrations.present? %>
      <table>
        <thead>
          <tr>
            <th><%= t(".results.th.reg_identifier") %></th>
            <th><%= t(".results.th.company_name") %></th>
            <th><%= t(".results.th.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @transient_registrations.each do |transient_registration| %>
            <tr>
              <td>
                <%= transient_registration.reg_identifier %>
              </td>
              <td>
                <%= transient_registration.company_name %>
              </td>
              <td>
                <%= link_to t(".results.details_button"), transient_registration_path(transient_registration.reg_identifier), class: 'button' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
