<div class="grid-row">
  <div class="column-two-thirds">
    <%= render("waste_carriers_engine/shared/back", back_path: registration_convictions_path(@registration.reg_identifier)) %>

    <%= form_for(@conviction_approval_form, url: registration_registration_conviction_approval_forms_path) do |f| %>
      <%= render("waste_carriers_engine/shared/errors", object: @conviction_approval_form) %>

      <h1 class="heading-large">
        <%= t(".heading", reg_identifier: @registration.reg_identifier) %>
      </h1>

      <div class="form-group <%= "form-group-error" if @conviction_approval_form.errors[:revoked_reason].any? %>">
        <fieldset id="company_name">
          <legend class="visuallyhidden">
            <%= t(".heading", reg_identifier: @registration.reg_identifier) %>
          </legend>

          <% if @conviction_approval_form.errors[:revoked_reason].any? %>
            <span class="error-message"><%= @conviction_approval_form.errors[:revoked_reason].join(", ") %></span>
          <% end %>

          <%= f.label :revoked_reason, t(".revoked_reason_label"), class: "form-label" %>
          <%= f.text_area :revoked_reason, class: "form-control" %>
        </fieldset>
      </div>

      <div class="form-group">
        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            <p><%= t(".warning") %></p>
          </strong>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit t(".approve_button"), class: "button" %>
      </div>
    <% end %>
  </div>
</div>
