<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render("waste_carriers_engine/shared/back", back_path: details_path_for(@resource)) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t(".heading", reg_identifier: @resource.reg_identifier) %>
    </h1>

    <div class="govuk-form-group">
      <%= render "shared/company_details_panel", registration: @resource %>
    </div>

    <%= form_tag(url: resource_cancels_path(@resource._id)) do |f| %>
      <div class="govuk-form-group">
        <%= submit_tag t(".confirm"), class: "govuk-button" %>

        <% if @resource.is_a?(WasteCarriersEngine::RenewingRegistration) %>
          <%= link_to(t(".cancel"), renewing_registration_path(@resource.reg_identifier), class: "govuk-button govuk-button--secondary") %>
        <% else %>
          <%= link_to(t(".cancel"), registration_path(@resource.reg_identifier), class: "govuk-button govuk-button--secondary") %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
