<div class="grid-row">
  <div class="column-full">
    <%= render("waste_carriers_engine/shared/back", back_path: finance_details_refunds_path(@registration._id)) %>

    <h1 class="heading-large">
      <%= t(".heading") %>
    </h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render "shared/company_details_panel", registration: @registration %>

    <div class="form-group">
      <table>
        <tbody>
          <tr>
            <td>
              <%= t(".transaction_to_refund") %>
            </td>
            <td class="numeric">
              £<%= display_pence_as_pounds_and_cents(@payment.amount) %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".total_amount_paid") %>
            </td>
            <td class="numeric">
              £<%= display_pence_as_pounds_and_cents(@presenter.total_amount_paid) %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t(".total_amount_due") %>
            </td>
            <td class="numeric">
              £<%= display_pence_as_pounds_and_cents(@presenter.total_amount_due) %>
            </td>
          </tr>
          <tr>
            <td>
              <strong class="bold">
                <%= t(".balance_to_refund") %>
              </strong>
            </td>
            <td class="numeric">
              <strong class="bold">
                £<%= display_pence_as_pounds_and_cents(@presenter.balance_to_refund) %>
              </strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group">
      <p>
        <strong>
          <%= t(".order_code", order_code: @payment.order_key) %>
        </strong>
      </p>
    </div>

    <%= form_tag(finance_details_refunds_path(@registration._id)) do %>
      <%= hidden_field_tag :order_key, @payment.order_key %>

      <div class="form-group">
        <%= submit_tag t(".confirm"), class: "button" %>
      </div>
    <% end %>
  </div>
</div>
