<% content_for(:head) do %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= yield :page_scripts %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for :page_title, title %>

<% content_for :header_content do %>

  <%= link_to t(:global_proposition_header),
      main_app.bo_path,
      class: "govuk-header__link govuk-header__link--service-name",
      id: "proposition-name" %>

  <% if user_signed_in? %>
    <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide navigation menu">Menu</button>
    <nav id="proposition-menu">
      <ul id="proposition-links" class="govuk-header__navigation" aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item">
          <%= link_to t("layouts.application.menu.dashboard"),
              main_app.bo_path,
              class: "govuk-header__link" %>
        </li>

        <% if can?(:review_convictions, current_user) %>
          <li class="govuk-header__navigation-item">
            <%= link_to t("layouts.application.menu.convictions"),
                main_app.convictions_path,
                class: "govuk-header__link"  %>
          </li>
        <% end %>

        <% if can?(:manage_back_office_users, current_user) %>
          <li class="govuk-header__navigation-item">
            <%= link_to t("layouts.application.menu.users"),
                main_app.users_path,
                class: "govuk-header__link"  %>
          </li>
        <% end %>

        <% if can?(:import_conviction_data, current_user) %>
          <li class="govuk-header__navigation-item">
            <%= link_to t("layouts.application.menu.conviction_imports"),
                main_app.conviction_imports_path,
                class: "govuk-header__link"  %>
          </li>
        <% end %>

        <% if can?(:run_finance_reports, current_user) %>
          <li class="govuk-header__navigation-item">
            <%= link_to t("layouts.application.menu.finance_reports"),
                main_app.finance_reports_path,
                class: "govuk-header__link"  %>
          </li>
        <% end %>

        <% if can?(:read, Reports::DefraQuarterlyStatsService, current_user) %>
          <li class="govuk-header__navigation-item">
            <%= link_to t("layouts.application.menu.quarterly_reports"),
                main_app.quarterly_reports_path,
                class: "govuk-header__link"  %>
          </li>
        <% end %>

        <% if can?(:manage, WasteCarriersEngine::FeatureToggle, current_user) %>
          <li class="govuk-header__navigation-item">
            <%= link_to t("layouts.application.menu.feature_toggles"),
                features_engine.feature_toggles_path,
                class: "govuk-header__link"  %>
          </li>
        <% end %>

        <% if can?(:view_card_order_exports, current_user) %>
          <li class="govuk-header__navigation-item">
            <%= link_to t("layouts.application.menu.card_order_exports"),
                main_app.card_order_exports_path,
                class: "govuk-header__link"  %>
          </li>
        <% end %>

        <% if can?(:read, DeregistrationEmailExportService, current_user) %>
          <li class="govuk-header__navigation-item">
            <%= link_to t("layouts.application.menu.email_exports"),
                main_app.new_email_exports_path,
                class: "govuk-header__link"  %>
          </li>
          <li class="govuk-header__navigation-item">
            <%= link_to t("layouts.application.menu.email_export_list"),
                main_app.new_email_exports_list_path,
                class: "govuk-header__link"  %>
          </li>
        <% end %>
      </ul>
    </nav>
  <% end %>
<% end %>

<%= render template: "layouts/defra_ruby_template" %>
